div.adso {
            background: linear-gradient(#36FF94 50%,#4AF522 50% );
            border-radius: 0.4rem;
            color: #6668;
            padding: 1rem;
            margin-bottom: auto 4rem;
            
        }